<section class="todoList">
  <div *ngIf="openTodo" (click)="onCloseTodo(false)" class="bgPopBlur"></div>
  <!-- <ng-container> -->
  <ng-container *ngIf="openTodo">
    <app-todo
      (updateTodoList)="newTodoList($event)"
      (closeTodo)="onCloseTodo($event)"
      [todo]="selectedTodo"
    />
  </ng-container>
  <h1 class="title">Todo List</h1>
  <div class="listContainer">
    <ul class="list" *ngFor="let item of todo">
      <app-todo-card (click)="onSelect(item)" [todo]="item"/>
      <!-- <li (click)="onSelect(item)" class="todoList__container_list_element">
        {{ item.name }}
        <ng-container *ngIf="item.status; else elseTemplate">
          <fa-icon
            class="todoList__container_list_element_icon check"
            [icon]="faCheck"
          />
        </ng-container>
        <ng-template #elseTemplate>
          <fa-icon
            class="todoList__container_list_element_icon cross"
            [icon]="faXmark"
          />
        </ng-template>
      </li> -->
    </ul>
    <button c class="button" (click)="onCreateTodo()">
      Créer une nouvelle todo
    </button>
  </div>
</section>
