@import '../../../../styles/variables.sass'
.footer
    position: fixed
    z-index: 100
    bottom: 0
    width: 100%
    font-family: $secondaryFont
    background-color: $layoutsColor
    .content
        height: 4rem
        +flexBeetwinCenter
        .linkList
            width: 100%
            +flexBeetwinCenter
            .icon
                color: $fontColor
                cursor: pointer
                font-size: 1.5rem
            .iconLink
                cursor: pointer
                margin-right: 10px
                font-weight: 550
            .userIcon
            .iconSelected
                color: $lightPurple
                font-size: 2.5rem
                transition: color 0.1s ease-in-out, font-size 0.1s ease-in-out
