<footer class="footer">
  <div class="container">
    <div class="content">
      <ul class="linkList">
        <fa-icon
          routerLink=""
          class="iconLink icon"
          [class.iconSelected]="currentUrl === '/'"
          [icon]="faHouse"
          >Home</fa-icon
        >
        <fa-icon
          routerLink="/todolist"
          [icon]="faList"
          class="iconLink icon"
          [class.iconSelected]="currentUrl === '/todolist'"
          >Todo List</fa-icon
        >
        <fa-icon
          routerLink="/wallet"
          class="iconLink icon"
          [class.iconSelected]="currentUrl === '/wallet'"
          [icon]="faWallet"
          >Wallet</fa-icon
        >
        <fa-icon
          routerLink="/shopping"
          class="iconLink icon"
          [class.iconSelected]="currentUrl === '/shopping'"
          [icon]="faDumbbell"
          >Sport</fa-icon
        >
        <fa-icon
          routerLink="/shopping"
          class="iconLink icon"
          [class.iconSelected]="currentUrl === '/shopping'"
          [icon]="faBasketShopping"
          >Shopping</fa-icon
        >
        <fa-icon
          class="userIcon icon"
          [class.iconSelected]="currentUrl === '/shopping'"
          [icon]="faUser"
        />
      </ul>
    </div>
  </div>
</footer>
