<li class="element">
  {{ todo?.name }}
  <ng-container *ngIf="todo?.status; else elseTemplate">
    <fa-icon
      class="icon check"
      [icon]="faCheck"
    />
  </ng-container>
  <ng-template #elseTemplate>
    <fa-icon
      class="icon cross"
      [icon]="faXmark"
    />
  </ng-template>
</li>
