*
    p, h1, h2, h3, h4, h5, h6
        color: $fontColor !important

.container
    hoverflow: hidden
    display: block
    width: 100%
    max-width: 290px
    margin-left: auto
    margin-right: auto
    padding-left: 15px
    padding-right: 15px

.bgPopBlur
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.5)

.route
    margin-top: 5rem
