// fonts
$mainFont: 'Titillium Web', sans-serif
$secondaryFont: 'Exo 2', sans-serif
//borders colors
$mainColorBorder: #ccc
// colors
$mainRed: #ff0000
$secondaryRed: #ff4d4d
$mainGreen: #7FB069
$white: #fff
$black: #000
$mainGray: #dddbe3
$mainBlue: #0f7173
$fontColor: #213345
$mainPink: #963D5A
$lightPurple: #B7C3F3
$layoutsColor: #0c131f

// Titles
@mixin title()
    font-size: 2.5rem
    margin-bottom: 2rem
    font-weight: 550

@mixin h2()
    color: $black
    font-weight: 550
    font-size: 2rem

// Buttons
@mixin button($color, $bgColor)
    background-color: $mainBlue
    border-radius: 5px
    color: $color
    padding: 10px
    font-size: 1rem
    border: none
    cursor: pointer
    font-weight: 550

@mixin deletIconButton()
    font-size: 2rem
    cursor: pointer
    color: $secondaryRed

@mixin checkbox()
    height: 1.5rem
    width: 1.5rem
    cursor: pointer
    background-color: $white
    border-radius: 5px
    -webkit-appearance: none

@mixin elementList()
    padding: 10px
    border: 1px solid $mainColorBorder
    border-radius: 5px
    margin-bottom: 1rem

@mixin input()
    font-family: $secondaryFont
    font-weight: 300
    font-style: italic
    width: -webkit-fill-available
    padding: 5px
    border-radius: 5px
    border: 1px solid #ccc
    margin-bottom: 1rem

// positions

@mixin flexBeetwinCenter()
    display: flex
    justify-content: space-between
    align-items: center

@mixin flexBeetwin()
    display: flex
    justify-content: space-between

// utils

@mixin bgImage($url)
    background-image: url($url)
    background-size: 100%
    background-position: center
    background-repeat: no-repeat

// components

@mixin popUp()
    padding: 1rem
    background-color: $mainGray
    box-shadow: 0 0 5px #ccc
    border-radius: 5px
    font-family: $mainFont
    position: absolute
    width: 81%
    top: 35%
    left: 50%
    transform: translate(-50%, -50%)
