<section class="walletPrevew">
  <div class="walletPrevewContainer">
    <header class="header">
      <h2 class="title">Compte chèque</h2>
      <p class="amount">100,34 €</p>
    </header>
    <div class="content">
      <div>
        <p>Prév : <span>345,22</span>€</p>
        <p>R Charges : <span>120,34</span>€</p>
      </div>
      <p>A venir : <span>-34,23</span>€</p>
    </div>
  </div>
  <div class="links">
    <p class="button">Ajouter une dépense</p>
    <p routerLink="/wallet" class="button">Tous les comptes</p>
  </div>
</section>
