@import '../../../../styles/variables.sass'

.walletPrevew
    font-family: $mainFont
    background-color: $mainGray
    border-radius: 10px
    padding: 10px
    .walletPrevewContainer
        .header
            +flexBeetwinCenter
            margin-bottom: 1rem
            font-weight: 600
            .title
                font-size: 1.1rem
            .amount
                font-family: $secondaryFont
                font-size: 1.5rem
        .content
            +flexBeetwin
            font-size: 0.8rem
            div
                p
                    margin-bottom: 5px
    .links
        +flexBeetwinCenter
        margin-top: 1rem
        border-radius: 5px
        border: 1px solid $mainColorBorder
        .button
            cursor: pointer
            border: 1px solid $mainColorBorder
            text-align: center
            padding: 5px
            font-weight: 550
            &:hover
                background-color: $lightPurple
                color: $white !important
