<nav class="nav">
  <div class="container navContainer">
    <a class="logoLink" href="https://yanissmarelle.fr/">
      <img src="assets/logoYanissMarelle.svg" alt="logo" class="logo" />
    </a>
    <div class="content">
      <ul class="linkList">
        <li routerLink="" class="button">Home</li>
        <li routerLink="/todolist" class="button">Todo List</li>
        <li routerLink="/wallet" class="button">Wallet</li>
        <li routerLink="/shopping" class="button">Shopping</li>
      </ul>
      <div class="accountContainer">
        <ng-container>
          <fa-icon class="icon" [icon]="faUser" />
        </ng-container>
        <ng-template>
          <p class="link">Login</p>
          <p class="link">Register</p>
        </ng-template>
      </div>
    </div>
  </div>
</nav>
