@import '../../../../styles/variables.sass'
.nav
    font-family: $secondaryFont
    background-color: $layoutsColor
    position: fixed
    z-index: 100
    top: 0
    width: 100%
    .navContainer
        height: 4rem
        +flexBeetwinCenter
        .logoLink
            height: 90%
            .logo
                height: 100%
        .content
            display: none
            height: 4rem
            .linkList
                +flexBeetwinCenter
                .button
                    cursor: pointer
                    margin-right: 10px
                    color: red
                    font-weight: 550
            .accountContainer
                .icon
                .link
