<form
  class="inputComponent"
  [formGroup]="form"
  (ngSubmit)="todo ? updateTodo() : createTodo()"
>
  <header class="header">
    <div class="nameSection">
      <h2 class="name">{{ todo?.name ? todo?.name : "Nouvelle todo" }}</h2>
      <input *ngIf="todo" class="checkbox" type="checkbox" [formControl]="statusFormCtrl" />
    </div>
    <fa-icon (click)="deleteTodo()" *ngIf="todo" class="icon" [icon]="faTrashCan" />
  </header>
  <div class="inputContainer">
    <input
      class="input"
      type="text"
      name="todo"
      id="todo"
      [formControl]="nameFormCtrl"
      placeholder="Ex : Todo 1 ..."
    />
    <input
      class="input"
      type="text"
      name="todoDesc"
      id="todoDesc"
      [formControl]="descriptionFormCtrl"
      placeholder="Description"
    />
  </div>
  <button class="button" type="submit">Valider la sélection</button>
</form>
