@import '../../../../../styles/variables'
.inputComponent
    +popUp
    .header
        +flexBeetwinCenter
        margin-bottom: 2rem
        .nameSection
            +flexBeetwinCenter
            .name
                +h2
                margin-right: 1rem
            .checkbox
                +checkbox
                &:checked
                    background-color: $mainGreen
                    +bgImage('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M9 16.2l-2.5-2.5L5 15l4 4 10-10-1.5-1.5L9 16.2z"/></svg>')
        .icon
            +deletIconButton
    .inputContainer
        .input
            +input
    .button
        +button(#fff, red)
